html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    width: 100%;
    flex: 1;
}

.rectangle {
    position: absolute;
}

.spin {
    animation-name: rotation;
    /* animation-duration is inserted inline in JS to keep the values
    coherent between CSS and JS */
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes rotation {
    0%{
        transform: rotate(0deg);
    }
    
    100%{
        transform: rotate(360deg);
    }
}

.tests {
    background-color: gray;
    display: flex;
    justify-content: space-around;
    padding: 8px;
}   
